.App {
  display: flex;
  padding: 30px;
  justify-content: center;
}

p {
  padding: 5px;
}

.taskList {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  padding: 3px;
  width: 86vw;
}

form {
  display: flex;
  margin: 30px;
  height: 100%;
  padding: 0;
}
.card-header {
  height: 60px;
}

.card-body {
  display: flex;
  flex-flow: column;
  width: 300px;
  padding: 20px;
}

.card-footer > * {
  margin: 10px 0;
}

.taskDescription {
  height: 6em;
  height: auto;
}

.card-body > * {
  margin: 5px 0;
}
.isDue {
  color: red;
}
