.taskList {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 1;
  margin: 30px 30px;
}

.card-deck {
  margin: 30px;
}

.card-body {
  display: flex;
  flex-flow: column;
  min-height: 200px;
  min-width: 300px;
}

.card-body > * {
  margin: 10px 0;
}

.taskContainer {
  /* display: flex;
  flex-flow: column;

  font-size: 20px;
  background-color: grey;
  border: 3px solid black;
  height: 400px;
  width: 20vw;
  margin: 20px;
  padding: 5px; */
}

.taskCard {
  /* min-height: 80%;
  display: flex;
  flex-flow: column;
  color: white; */
}

.isDue {
  color: pink;
}

.formPair {
  /* margin: 10px 0;
  height: 15%;
  width: 19vw; */
}

button {
  /* height: 100%; */
}

.formPair > * {
  /* width: 100%;
  margin: 0; */
}
