:root {
  --dueColor: rgba(255, 10, 0, 0.1);
  --completeColor: rgba(0, 255, 0, 0.1);
  --defaultColor: rgba(248, 249, 250, 1);
}

.App {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.helperButton {
  position: fixed;
  margin-top: -20px;
  max-width: 160px;
  z-index: 1;
}

p {
  padding: 5px;
}

.taskList {
  display: flex;

  flex-flow: row wrap;
  align-items: flex-start;

  padding: 3px;
  width: 86vw;
}

form {
  display: flex;
  margin: 30px;
  padding: 0;
  min-height: 400px;
}

.card-header {
  height: 60px;
}

.card-body {
  display: flex;
  flex-flow: column;
  width: 300px;
  padding: 20px;
  min-height: 150px;
}

.card-footer > * {
  margin: 10px 0;
}

.taskDescription {
  height: 6em;
  height: auto;
}

@media screen and (max-width: 800px) {
  section > * {
    justify-content: center;
  }
}

.card-body > * {
  margin: 5px 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeRedColor {
  from {
    background-color: none;
  }

  to {
    background-color: var(--dueColor);
  }
}
@keyframes fadeGreenColor {
  from {
    background-color: none;
  }

  to {
    background-color: var(--completeColor);
  }
}
@keyframes fadeToDefaulColor {
  from {
    background-color: none;
  }

  to {
    background-color: var(--defaultColor);
  }
}

.isDue {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeRedColor;
}
.isComplete {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeGreenColor;
}

.isNone {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeToDefaulColor;
}

.fadeIn {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}
